<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Meter Send Form</title>
</head>
<body>
<h1>Отправить показания</h1>
<form action="#" th:action="@{/communal/meter/send}" th:object="${meterDto}" method="post">
    <p>ID счета<input  type="number" th:field="*{accountId}" /></p>
    <p>Услуга<input  type="number" th:field="*{serviceId}" /></p>
    <p>Значение<input  type="text" th:field="*{value}" /></p>
    <p><input type="submit" value="Отправить" /> <input type="reset" value="Сбросить" /></p>
</form>
</body>
</html>