<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Report Form</title>
</head>
<body>
<h1>Форма отчета по счету за период</h1>
<form action="#" th:action="@{/communal/info/report}" th:object="${period}" method="post">
    <p>ID счета<input  type="number" th:field="*{accountId}" /></p>
    <p>Начало<input  type="datetime-local" th:field="*{startDate}" /></p>
    <p>Конец<input type="datetime-local" th:field="*{endDate}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>