<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Start Page</title>
</head>
<body>
<h1>Сервис Коммунальных Платежей</h1>
<a th:href="@{/communal/account/}">Счета пользователей</a>
<br/>
<a th:href="@{/communal/info/}">Информация</a>
<br/>
<a th:href="@{/communal/meter/}">Показания</a>
<br/>
<a th:href="@{/communal/payment/}">Платежи</a>
<br/>
<a th:href="@{/communal/service_type/}">Тарифы</a>
<br/>
<a th:href="@{/communal/auth/}">Авторизация</a>
<br/>
</body>
</html>